body{
    font-family: sans-serif;
    color: cornsilk;
    text-align: center;
}

.heading{
    text-align: center;
    font-size: large;
}
aside{
    content: "";
  display: table;
  clear: both;
}
section{
    float: left;
  padding: 20px;
  width: 70%;
}
marquee{
    color:blue ;
}
.pics{
    text-align: center;
}
.text{
    vertical-align: middle;
}
.video{
    align-items: center;
}