body{
    font-family: sans-serif;
}

.heading{
    text-align: center;
    font-size: large;
}
aside{
    content: "";
  display: table;
  clear: both;
}
section{
    float: left;
  padding: 20px;
  width: 70%;
}
marquee{
    color:blue ;
}
.pics{
    text-align: center;
}