@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Reem Kufi Fun', sans-serif;
    color: cornsilk;
    text-align: center;
}
.heading{
    text-align: center;
    font-size: large;
}
marquee{
    color:blue ;
}
.pics{
    text-align: center;
}
.text{
    vertical-align: middle;
}
.list{
    text-align: left;
}